{% extends "layout.html" %} {% block content %}
<div class="dashboard">
  <h2 class="text-center">Dashboard</h2>
  <div class="body">
    {% if counts %}
    <div class="d-flex mx-4 text-success">
      <p class="mx-4 fw-bold">Total Books: {{ counts[1] }}</p>
      <p class="mx-4 fw-bold">Total Users: {{ counts[0] }}</p>
    </div>
    {% endif %}
    <div class="d-flex justify-content-around">
      <div class="issued-books mx-2" style="max-height: 70vh; overflow: scroll;">
        <h3 class="text-center text-info position-sticky top-0 z-1 bg-white">Issued Books</h3>
        {% if books %} {% for book in books %}
        <div class="card border border-secondary p-3 m-1">
          <p>{{ book[4] }}</p>
          <p>{{ book[1] }}</p>
          <p>{{ book[6] }}</p>
        </div>
        {% endfor %} 
        {% else %}
          <div class="alert alert-success position-sticky top-0 z-1 bg-white">
            <h4>No Book Issued</h4>
          </div>
        {% endif %}
      </div>
      <div class="overdue-books m-2">
        <h3 class="text-center text-danger">Pending/Overdue Return</h3>
        {% if books %} {% for book in books %} {% if book[3] <= today %}

        <div class="card border border-secondary p-3">
          <p>{{ book[4] }}</p>
          <p>{{ book[1] }}</p>
          <p>{{ book[6] }}</p>
          <p>{{ book[3] }}</p>
        </div>
        {% endif %} {% endfor %} 
        {% else %}
        <div class="alert alert-success">
          <h4>No Book Overdue</h4>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
