<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>LMS</title>
    {% endif %}
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          src="../static/img/experience-the-discussion-online-library-book-logo-11562996058ru4peza6zq-removebg-preview.png"
          alt=""
        />
        my Library
      </div>
      <nav>
        <a href="{{url_for('dashboard')}}">Dashboard</a>
        <a href="{{url_for('searchBooks')}}">Books</a>
        <a href="{{url_for('searchUser')}}">Users</a>
        <a href="{{url_for('issueBook')}}">IssueBook</a>
        <a href="{{url_for('returnBook')}}">ReturnBook</a>
        <a href="{{url_for('logout')}}">LogOut</a>
      </nav>
      <!-- </div> -->
    </header>

    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
