{% extends "layout.html" %} {% block content %}
<div class="search-user">
  <a href="{{url_for("addUser")}}"><button>Add New</button></a>
  <div class="search-bar">
    <form action="{{url_for("searchingUser")}}" method="POST">
      <input type="search" name="query" />
      <button type="submit">Search</button>
    </form>
  </div>
  <div class="users">
    <h1>Users</h1>
    {% if data %}
    {% for users in data %}
    <a href="/showUser?id={{ users[0] }}">
    <div class="user">
        <i class="fa-solid fa-user"></i>
        <p>{{users[1]}}</p>
        <p>{{users[2]}}</p>
    </div>
  </a>
    {% endfor %}
    {% else %}
        <div class="error">
            <h3>No User Found!</h3>
        </div>
    {% endif %}
  </div>
  <div class="fine-users">
    <h1>Pending Fine</h1>
    {% if fine %}
    {% for user in fine %}
    <div>
      <p>{{user[1]}}</p>
      <p>Fine: {{user[4]}}</p>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
