{% extends "layout.html" %} {% block content %}
<h2 class="text-center m-auto" style="width: fit-content;">User Details</h2>
<div
  class="m-auto p-3 border border-info mt-5 rounded"
  style="width: fit-content"
>
  {% if data %}
  <h3>{{ data[0][1] }}</h3>
  <p><i>UserId: </i> {{ data[0][0] }}</p>
  <p><i>Phone: </i> {{ data[0][2] }}</p>
  <p><i>Email: </i> {{ data[0][3] }}</p>

  <div class="d-flex justify-content-around">
    <a href="/editUser?id={{ data[0][0] }}" class="btn btn-sm btn-outline-info">Edit Details</a>
    <a href="/deleteUser?id={{ data[0][0] }}" class="btn btn-sm btn-outline-danger">Delete User</a>
    {% if data[0][4] > 0 %}
    <a href="/payFine?id={{ data[0][0] }}" class="btn btn-sm btn-outline-success">Pay Fine</a>
    {% endif %}
  </div>
  {% else %}
  <h2>No User Data!</h2>
  {% endif %}
</div>
{% endblock %}

